[submodule "third_party/jemalloc"]
	path = third_party/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "third_party/redis"]
	path = third_party/redis
	url = https://github.com/antirez/redis.git
